*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Lato', 'Arial';
    font-weight: 300;
    color: #555;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    background-color: #f9f9f9;
}

.row{
    width: 60%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.slider-foto{
    height: 100%;
    width: 100%;
}

header{
    width:100%;
    height: 100vh;
}
section{
    padding: 80px 0;
}




.motto-box{
    width: 80%;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

h1,h2,h3{
    color: #fff;
    font-size: 300%;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 20px;
    
}

h2{
    color: #555;
    font-size: 200%;
    text-align: center;
}

h3{
    color: #555;
    font-size: 150%;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #f1c40f;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-big{
    display: block;
    font-size: 200%;
    text-align: center;
    color: #f1c40f;
    text-align: center;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;;
    border-radius: 200px;
    padding:  10px 30px;
    transition: background-color 0.2s,border 0.2s, color 0.2s;
}

.btn-header:hover{
    background-color: #f1c40f;
    border-bottom: 1px solid #f1c40f;
    color: #383838;
}

.main-nav-row{
    position: absolute;
    top: 5%;
    right: 5%;
}

.main-nav{
    list-style-type: none;

}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a{
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border 0.2s;
}

.main-nav li a:hover{
    border-bottom: 2px solid #f1c40f;
}

.arrow{
    color: #fff;
    font-size: 75px;
    
}
.arrow:hover{
    color: #f1c40f;
}

.ion-ios-arrow-left{
    position: absolute;
    top: 45%; 
    left: 1%;
}
.ion-ios-arrow-right{
    position: absolute;
    top: 45%; 
    right: 1%;
}

.slider-nav-row{
    position: absolute;
    bottom:2%;
    right: 40%;
}

.slider-nav{
     list-style-type: none;
 }

 .slider-nav li{
    display: inline-block;
    margin-left: 10px;
 }

.slider-nav li a{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    transition: background-color 0,5s;

}

/*SETION2 ABOUT BASKETBALL*/



.features-box{
    margin-top: 50px;
}

.features-box{
    font-size: 18px;
}

/*section meet the team*/
.meet-the-team{
    padding: 0;
}

.palyers-box{
    list-style: none;
    width: 100%;
}

.palyers-box li {
    display: block;
    width: 20%;
    float: left
}

.palyer-foto{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.palyer-foto img {
    opacity: 0.7;
    width: 100%;
    height: 300px   ;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.palyer-foto img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}